<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body class="container-fluid" style="background:  #e94b3cff; ">
  
	<div class="row">
  <ul class="col-md-12" style="list-style-type:none">
    <li *ngFor="let pokemon of pokemons; index as id" style="text-align:justify;display:inline-block;padding-left:10px;padding-bottom:10px;margin-top:5px;">
    <div  style="border:solid;border-radius:5px;padding:10px;background-color:rgba(255,255,255,0.8)">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id+1}}.png" alt="sprites.front_default">
      <div>{{pokemon.url.split('/')[6]}}# <a  [title]="pokemon.name" [routerLink]="['/pokemons',id+1]" >{{pokemon.name|titlecase}}</a><br/></div>
    </div> 
  </ul>
</div>
</body>
</html>

