<div *ngIf="pokemonSeleccionado">
  <p style="font-size:25px;text-align:center"><b>Detalhes do aluno :</b> </p>
  <p>
    <b>Nome :</b>
    {{pokemonSeleccionado.name |titlecase}}
  </p>
  <p>
    <b>Tamanho :</b>
     {{pokemonSeleccionado.height*0.1 |}}
  </p>
  <p>
    <b>Peso :</b>
    {{pokemonSeleccionado.weight*0.1}}
  </p>
  <p>
    <b>Localização :</b>
    {{pokemonSeleccionado.weight}}
  </p>
  <p>
    <b>Cidade :</b>
  </p>
    <p>
    <b>Tlf :</b>
  </p>
    <p>
    <b>Tlm :</b>
    
  </p>
  <p>
    <b>Email :</b>
    
  </p>

</div>