<div *ngIf="pokemonSeleccionado" class="grid">
  <div class="name"> 
    <h1 style="font-size:25px;text-align:center"><b>{{pokemonSeleccionado.name |titlecase}}</b> </h1>
  </div>
  <div class="img">
    <img src="{{pokemonSeleccionado.sprites.front_default}}" alt="sprites.front_default" >
    <img src="{{pokemonSeleccionado.sprites.front_shiny}}" alt="sprites.front_shiny" >
  </div>

  <div class="type">
    <b>Type :</b>
    <ul style="display:inline;list-style-type: none;">
      <li *ngFor="let type of pokemonSeleccionado.types" style="display:inline;">
        {{type.type.name}}
      </li>
    </ul>
  </div>

  <div class="tp">
    <div>
    <b>Tamanho :</b>
     {{pokemonSeleccionado.height*0.1 | number:'1.1'}} m
    </div>
    <div> 
    <b>Peso :</b>
    {{pokemonSeleccionado.weight*0.1 | number:'1.1'}} kg
    </div>
  </div>

  <div class="stats">
  <b>Stats :</b>
    <ul style="display:inline;list-style-type: none;">
        <li *ngFor="let stat of pokemonSeleccionado.stats" >
          {{stat.stat.name}} = {{stat.base_stat}}
        </li>
    </ul>
  </div>
  <div class="btn">
  <button class="btn btn-primary"onclick="history.back(-1)">Voltar</button>
  </div>
</div>