<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body>
	<div *ngIf="pokemonSeleccionado" class="grid">
  <div class="name"> 
    <h1 style="font-size:25px;text-align:center"><b>{{pokemonSeleccionado.id}}# {{pokemonSeleccionado.name |titlecase}}</b> </h1>
  </div>
  <div class="pkm">
    <img src="{{pokemonSeleccionado.sprites.front_default}}" alt="sprites.front_default" title="normal">
    <img src="{{pokemonSeleccionado.sprites.front_shiny}}" alt="sprites.front_shiny" title="shiny">
  </div>

  <div class="type">
    <b>Type :</b>
    <ul style="display:inline;list-style-type: none;">
      <li *ngFor="let type of pokemonSeleccionado.types" style="display:inline;">
        {{type.type.name}}
      </li>
    </ul>
  </div>

  <div class="tp">
    <div>
    <b>Tamanho :</b>
     {{pokemonSeleccionado.height*0.1 | number:'1.1'}} m
    </div>
    <div> 
    <b>Peso :</b>
    {{pokemonSeleccionado.weight*0.1 | number:'1.1'}} kg
    </div>
  </div>

  <div class="stats">
  <b>Stats :</b>
    <ul style="display:inline;list-style-type: none;">
        <li *ngFor="let stat of pokemonSeleccionado.stats" >
          {{stat.stat.name}} = {{stat.base_stat}}
        </li>
    </ul>
  </div>
  <div class="button">
  <button class="btn btn-primary" onclick="history.back(-1)">Voltar</button>
  </div>
</div>
</body>
</html>
