body {
  border-style:solid;
  font-family: Arial, Helvetica, sans-serif;
  color:#2d2926ff;
  height: 100%;
}

.grid{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  " name name "
  " img img"
  " type type"
  "tp stats"
  "button button";
}

.name{
  grid-area: name;
  background: #e94b3cff; 
}

.pkm{
  grid-area: img;
  text-align: center;
  background-color: rgba(0, 217, 255, 0.253);
  border-style:double;
}

.type{
  grid-area: type;
  text-align: center;
  background: #e94b3cff; 
}

.tp{
  grid-area: tp;
  background: #e94b3cff; 
  text-align: center;
}

.stats{
  grid-area: stats;
  background: #e94b3cff; 
  
}

.button{
  grid-area: button;
  text-align: center;
  padding: 50px;
  background: #e94b3cff; 
}